* {
    box-sizing: border-box;
}

.board {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    background-color: black
}

.board div {
    aspect-ratio: 1;
    background-color: brown;
    border: 1px solid pink;
}